.DS_store
._*
Thumbs.db
Desktop.ini
.vscode
.idea

.env

# Closure library needed for uncompressed development
/closure-library
/closure-library-read-only

# Python byte-compiled / optimized
__pycache__/
*.py[cod]

# Python virtual environments
venv

node_modules/
/dist/
